.helpContainer {
	&__title {
		color: var(--helpTitleColor);
		margin: 0 0 2rem 0;
	}

	&__table {
		color: var(--helpTextColor);
		tr {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
		}

		&__command {
			width: 8rem;
		}
	}
}
