.terminal {
	background-color: var(--terminalBgColor);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;

	&__userRoot {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		height: 100%;
	}
}
