.userInput {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  align-items: flex-start;
  width: 100%;

  &__wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  &__root {
    width: auto;
    font-size: 15px;
    background-color: var(--primaryBgColor);
    color: var(--promptFontColor);
    border: none; /* Enlève la bordure */
    padding: 0.5rem;

    &:focus {
      outline: none; /* Enlève le contour par défaut au focus */
      border: none; /* Assure qu'il n'y a pas de bordure */
    }
  }

  &__prompt {
    width: 100%;
    font-size: 15px;
    background-color: var(--primaryBgColor);
    color: var(--textBoxFontColor);
    border: none; /* Enlève la bordure par défaut */
    padding: 0.5rem;
    box-sizing: border-box;

    &:focus {
      outline: none; /* Enlève le contour par défaut au focus */
      border: none; /* Assure qu'il n'y a pas de bordure */
    }
  }

  &__output {
    width: 100%;
    background-color: var(--outputBgColor);
    color: var(--outputFontColor);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 10px; /* Espace entre output et prompt */
    overflow-wrap: break-word; /* Gère les longs mots ou URL */
  }
}
