.userInput {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	z-index: 1;
	background-color: var(--primaryBgColor);
	&__comment {
		position: fixed;
		top: 4rem;
		font-size: 10px;
		color: var(--commentTextColor);
	}

	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.1rem;
		padding: 2rem 0 1rem 0;
		position: fixed;
		top: 0;
		background-color: var(--primaryBgColor);
	}

	&__root {
		width: 40%;
		font-size: 15px;
		background-color: var(--primaryBgColor);
		color: var(--promptFontColor);
		border: none;
		white-space: nowrap;
		&:focus {
			outline: none;
			border: none;
		}
	}
	/* Span utilisé pour mesurer la largeur du texte */
	&__hiddenSpan {
		position: absolute;
		visibility: hidden;
		white-space: nowrap;
		font-size: 15px;
		font-family: inherit;
	}
	&__prompt {
		width: 50%;
		font-size: 15px;
		background-color: var(--primaryBgColor);
		color: var(--textBoxFontColor);
		border: none;
		padding: 0.5rem;
		box-sizing: border-box;

		&:focus {
			outline: none;
			border: none;
		}
		/* Création du curseur personnalisé plus large avec un pseudo-élément */
		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			width: 3px; /* Définit la largeur du curseur */
			height: 1.2rem; /* Ajuste la hauteur du curseur */
			background-color: var(--cursorColor, #258c25); /* Couleur du curseur */
			transform: translateY(-50%);
			animation: blink-caret 1s steps(1) infinite;
		}
	}
	&__output {
		width: 100%;
		background-color: var(--outputBgColor);
		color: var(--outputFontColor);
		border-radius: 5px;
		margin-bottom: 10px; /* Espace entre output et prompt */
		overflow-wrap: break-word;
		position: relative;
		top: 3rem;
		z-index: -1;
	}
}

/* Animation du curseur */
@keyframes blink-caret {
	50% {
		caret-color: transparent;
	}
}
