.home {
	display: flex;
	height: 100vh;

	&__content {
		display: flex;
		align-items: flex-start;
		padding: 2rem 2rem 2rem;
		position: relative;
		width: -webkit-fill-available;
		font-size: 12px;
		left: 18rem;
		margin: 0 18rem 0 0;
	}
}

.about {
	margin: 0rem 0 3rem;
}

.skillsContainer {
	padding: 0 0 3rem 0;
}

.projects {
	padding: 0 0 3rem 0;
}
.links {
	padding: 0 0 3rem 0;
}
.contact {
	padding: 0 0 3rem 0;
}
.cv {
	padding: 0 0 3em 0;
}
