/* home.module.scss */

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  /* Styles pour l'en-tête */
}

.sidebar {
  width: 250px;
  /* Autres styles pour la barre latérale */
}

.footer {
  /* Styles pour le pied de page */
}
