// CV
.cv{

  &__title {
    color: var(--cvTitleColor);
    margin: 1rem 0;
  }

  &__text{
    text-align: left;
  }
  
  &__iframe {
    height: 92rem;
    border: none;
    width: 100%;
    height: 600px;
  }
  a{
    text-decoration: underline;
  }
}
