.cv {
  &__title {
    color: var(--cvTitleColor);
    margin: 1rem 0;
  }

  &__text {
    text-align: left;
    margin-bottom: 1rem;
  }

  &__iframe {
    border: none;
    width: 100%;
    height: 600px; /* Ajustez la hauteur selon vos besoins */
  }

  a {
    text-decoration: underline;
  }
}
