.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 20rem;
	padding: 2rem 1rem;
	background-color: var(--sidebarBgColor);
	text-align: center;
	position: fixed;

	&__logo {
		width: 80%;
		margin-bottom: 1rem;
	}

	&__titleName {
		font-size: 2rem;
		margin: 1rem 0;
		display: none;
	}

	&__titlePhoto {
		width: 50%;
		margin-bottom: 1rem;
		filter: invert(1);
	}

	&__bio {
		color: var(--sidebarFontColor);
		font-size: 11px;
		width: 80%;
		margin: 1rem 0;
		line-height: 1.3;
		text-align: justify;
	}
}
