// Sidebar
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
  text-align: justify;

  h1 {
    color: var(--sidebarFontColor);
    font-size: 52px;
  }

  #profile {
    max-width: 100%;
  }
}
