.contact {
	&__title {
		color: var(--contactTitleColor);
		padding: 0 0 1rem 0;
	}

	&__table {
		width: 100%;
		border-collapse: collapse;
		&__item {
			&__email {
				width: 0;
			}
			&__icon {
				width: 2rem;
				text-align: center;
			}
			td {
				padding: 0.5rem;
				vertical-align: top;
				a {
					color: var(--linkColor);
					text-decoration: none;
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
