@charset "UTF-8";

/* Variables CSS */
:root {
	--font-default: "Lucida Console", "Lucida Sans Unicode", "Courier New";
	--defaultBackgroundColor: white;
	--defaultFontColor: black;
	--primaryBgColor: #1e1e1e;
	--primaryFontColor: white;
	--sidebarFontColor: #c3e88d;
	--introFontColor: #de935f;
	--promptFontColor: #f1b84f;
	--textBoxFontColor: #b5bd68;
	--CopyrightFontColor: #373b41;
	--helpTitleColor: #82629d;
	--helpTextColor: #d47520;
	--skillsTitleColor: #81a2be;
	--projectsTitleColor: #b5bd68;
	--contactTitleColor: #cc6666;
	--cvTitleColor: #8abeb7;
	--injectedBgColor: #1d1f21;
	--outputFontColor: darkolivegreen;
	--commentTextColor: #2ca083;
	--error404TitleColor: #ff5370;
	--bashBgColor: #2e2e2e;
}
