@charset "UTF-8";

/* Variables CSS */
:root {
  --font-default: "Lucida Console", "Lucida Sans Unicode", "Courier New";
  --defaultBackgroundColor: white;
  --defaultFontColor: black;
  --primaryBgColor: #1d1f21;
  --primaryFontColor: white;
  --sidebarFontColor: #58d49f;
  --introFontColor: #de935f;
  --promptFontColor: #f0c674;
  --textBoxFontColor: #b5bd68;
  --CopyrightFontColor: #373b41;
  --helpTitleColor: #eb926d;
  --skillsTitleColor: #81a2be;
  --projectsTitleColor: #b5bd68;
  --contactTitleColor: #cc6666;
  --cvTitleColor: #8abeb7;
  --injectedBgColor: #1d1f21;
}
