@charset "UTF-8";

// Réinitialisation globale
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-default);
}

// Variables CSS
:root {
  --font-default: "Lucida Console", "Lucida Sans Unicode", "Courier New";
  --defaultBackgroundColor: white;
  --defaultFontColor: black;
  --primaryBgColor: #1d1f21;
  --primaryFontColor: white;
  --sidebarFontColor: #58d49f;
  --introFontColor: #de935f;
  --promptFontColor: #f0c674;
  --textBoxFontColor: #b5bd68;
  --CopyrightFontColor: #373b41;
  --helpTitleColor: #eb926d;
  --skillsTitleColor: #81a2be;
  --projectsTitleColor: #b5bd68;
  --contactTitleColor: #cc6666;
  --cvTitleColor: #8abeb7;
  --injectedBgColor: #1d1f21;
}

// Styles généraux
body {
  font-family: var(--font-default);
  color: var(--primaryFontColor);
  background-color: var(--primaryBgColor);
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

// Titres
.helpTitle {
  color: var(--helpTitleColor);
}

.skillsTitle, .skillsSubTitle {
  color: var(--skillsTitleColor);
}

.projectsTitle, .linksTitle {
  color: var(--projectsTitleColor);
}

.contactTitle {
  color: var(--contactTitleColor);
}

.cvTitle {
  color: var(--cvTitleColor);
}

.about, .creditTitle {
  color: var(--primaryFontColor);
}

// Conteneur pour les compétences
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Deux colonnes de largeur égale
  gap: 20px; // Espacement entre les colonnes

  // Responsiveness pour petits écrans
  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Une colonne pour les petits écrans
  }
}

// Sections des compétences
.skills-section {
  background-color: var(--primaryBgColor);
  padding: 20px;
  border-radius: 5px;
}

// Tables des compétences
.skills-table {
  width: 100%;

  td {
    padding: 7px 15px;
    text-align: left;

    &:last-child {
      text-align: right;
    }
  }
}

// Sidebar
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
  text-align: justify;

  h1 {
    color: var(--sidebarFontColor);
    font-size: 52px;
  }

  @media (min-width: 1024px) {
    flex-basis: 20%;
    margin: 2%;
    margin-top: 0.5%;
    height: 100%;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 10vw;
    }
  }
}

// Profile
#profile {
  max-width: 100%;
}

// Introduction
#intro {
  color: var(--introFontColor);
  text-align: justify;
}

// Terminal
#terminal {
  margin: 5%;
  
  @media (min-width: 1024px) {
    flex-basis: 72%;
    margin: 2% auto;
  }
}

// Command Input
#prompt {
  float: left;
  width: auto;
  font-size: 22px;
  vertical-align: middle;
  background-color: var(--primaryBgColor);
  color: var(--promptFontColor);
  border: none;
}

#txtBox {
  float: left;
  width: auto;
  font-size: 22px;
  vertical-align: middle;
  background-color: var(--primaryBgColor);
  color: var(--textBoxFontColor);
  border: grey solid 2px;
}

// Copyright
#Copyright {
  color: var(--CopyrightFontColor);
  margin: 2%;
}

// Injected Content
#injected {
  font-size: 15px;
  color: var(--primaryFontColor);
  text-align: justify;
  margin-top: 2%;
  background-color: var(--injectedBgColor);

  ul {
    list-style: none;
  }

  li, th, td {
    padding: 7px 25px 7px 45px;
    text-align: left;
  }
}

// User Input
#userInput {
  margin-top: 20px;
}

// Flex Container
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

// Responsive Design
@media (min-width: 1024px) {
  #sidebar {
    flex-basis: 20%;
    margin: 2%;
    margin-top: 0.5%;
    height: 100%;
  }

  #terminal {
    flex-basis: 72%;
    margin: 2% auto;
  }
}

@media (max-width: 1024px) {
  #sidebar h1 {
    font-size: 10vw;
  }
}
