/* Copyright */
#Copyright {
  color: var(--CopyrightFontColor);
  margin: 2%;
}
// src/layout/footer/__footer.scss
.footer {
  background-color: var(--primaryBgColor);
  color: var(--primaryFontColor);
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
  }
}
